<div class="home">
	<h2>ようこそ Bookersへ!</h2>
	<div class="home-body">
		<p class="home-text"><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
		<p class="home-text">印象を共有し交換することができます</p>
		<a class="home-text" href="/books">start</a>
	</div>
</div>