/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	color: #000;
 }
 .home{
 	margin: 30px;
 }
 .home-body{
 	margin-left: 30px;
 }
 .home-text{
 	margin: 30px 0;
 }
main{
	margin: 35px;
}
table{
	margin: 5px;
	font-size: 13px;
}
thead{

}
tr{
	
}
th{
	padding: 3px;
}
tbody{
}
td{
	padding: 3px;
}
.submit{
	display: block;
	padding: 1px 5px;
	margin-bottom: 8px
}
.show{
	margin: 30px;
	font-size: 13px;
}
.text{
	margin: 30px;
}
.text-title{
	margin-right: 5px;
}
.edit{
	margin: 30px;
}
.box{
	margin: 8px 0;
	font-size: 13px;
}
.action{
	float: left;
	margin: 0 3px;
	font-size: 13px;
}
.flash{
	color: #008000;
	margin: 25px 60px;
	font-size: 13px;
}


